@import "reset.css";

body {
    background-color: #ecfaff;
}
.card {
    width: 280px;
    background-color: white;
    text-align: center;
    padding: 30px;
    margin: 100px auto;
    border-radius: 8px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.05);
}
.card .pic {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0px auto;
    box-shadow: 10px 10px 20px rgba(173, 216, 230, 0.5);
    margin-bottom: 20px;
}
.card .pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card h1 {
    font-weight: 600;
    font-size: 22px;
    font-family: "roboto", "arial";
    /* #000_#999_#aaa_#fff */
    color: #333;
    margin-bottom: 3px;
}
.card p {
    font-size: 12px;
    font-family: "arial";
    color: #999;
    margin-bottom: 20px;
}
.card button {
    border: none;
    width: 140px;
    height: 36px;
    border-radius: 18px;
    font: bold 12px/36px "arial";
    color: #fff;
    background-image: linear-gradient(45deg, aqua, #a4dfff);
    box-shadow: 10px 10px 10px rgba(0, 255, 255, 0.2);
    margin-bottom: 20px;
}
.card ul li {
    font-weight: 400;
    font-size: 12px;
    font-family: "orbitron";
    color: #bbb;
    padding: 15px 0px;
    border-bottom: 1px solid #eee;
    /* 글자간 사이 간격 */
    letter-spacing: 1px;
}
/* 자식 요소중 마지막 요소 선택 */
.card ul li:last-child {
    border-bottom: none;
}
.card .pageLink {
    text-align: center;
    margin: 20px 0px 10px;
    font-size: 0px;
}
.card .pageLink a {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: gray;
    border-radius: 50%;
    /*
    간격을 알 수 없어서 원하는 간격대로 설정이 불가 
    해결방법은 이제 할거임
    margin: 0px 8px;*/
    margin: 0px 8px;
}
.card .pageLink a:nth-of-type(1) {
    background-color: #aaeaff;
    box-shadow: 5px 5px 10px rgba(170, 234, 255, 0.5);
}
.card .pageLink a:nth-of-type(2) {
    background-color: #aaffc2;
    box-shadow: 5px 5px 10px rgba(170, 255, 194, 0.5);
}
.card .pageLink a:nth-of-type(3) {
    background-color: #ffaaef;
    box-shadow: 5px 5px 10px rgba(255, 170, 239, 0.5);
}
.card .pageLink a:nth-of-type(4) {
    background-color: #aaadff;
    box-shadow: 5px 5px 10px rgba(170, 173, 255, 0.5);
}


/*member2 custom style*/
.member2 {
    background-color: #eeffee;
}
.member2 .card .pic {
    box-shadow: 10px 10px 20px rgba(227, 246, 191, 0.5);
}
.member2 .card button {
    background-image: linear-gradient(45deg, #01e3c1, #9affec);
    box-shadow: 10px 10px 10px rgba(0, 255, 217, 0.2);
}

/*member3 custom style*/
.member3 {
    background-color: #ffeef8;
}
.member3 .card .pic {
    box-shadow: 10px 10px 20px rgba(242, 191, 246, 0.5);
}
.member3 .card button {
    background-image: linear-gradient(45deg, #e301d4, #ff9ab7);
    box-shadow: 10px 10px 10px rgba(227, 1, 212, 0.2);
}

/*member4 custom style*/
.member4 {
    background-color: #f4eeff;
}
.member4 .card .pic {
    box-shadow: 10px 10px 20px rgba(210, 191, 246, 0.5);
}
.member4 .card button {
    background-image: linear-gradient(45deg, #6701e3, #dc9aff);
    box-shadow: 10px 10px 10px rgba(114, 1, 227, 0.2);
}