@import "reset";
//link가 아닌 @import방식은 브라우저 화면 렌더링 후 웹 폰트가 설정되기에
//성능면에서는 떨어지만 최소 기능단위인 컴포넌트 단위 프론트개발에선 필요한 요소에 필요한 폰트만 연결가능하므로 유리
//3번
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Dosis:wght@200..800&display=swap");

body{
    background-color: #efefef;
}

.wrap{
    width: 900px;
    // border: 1px solid black;
    border: 1px solid #fff;
    margin: 100px auto;
    padding: 50px;
    display: flex;
    //wrap기준으로 줄바꿈 요소가 있으므로 flex-wrap:wrap 설정
    flex-wrap: wrap;
    justify-content: space-between;

    //3번
    //라운드 효과 및 그림자 적용
    border-radius: 10px;
    box-shadow: 20px 20px 30px rgba(0,0,0, 0.1);

    h1{
        font-weight: normal;
        font-size: 5rem; //80px;
        margin-bottom: 30px;
        //부모에 flex설정했기 때문에 자동으로 inline-block화
        //그래서 다시 강제로 100% 넓이값 지정
        width: 100%;
        
        //text요소 그림자 설정 : box-shadow와 사용방법 동일
        text-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);
    }

    .card{
        width: 30%;
        background-color: lightcyan;
        padding: 20px;
        //3번
        margin-bottom: 30px;
        color: #fff;
        border-radius: 5px;

        //3번에 주석처리
        // h2{
        //     font: bold 18px/1 'arial';
        //     color: #555;
        //     margin-bottom: 10px;
        // }
        // p{
        //     font: 12px/1.3 'arial';
        //     color: #777;
        // }

        //3번
        h2 {
            font-size: 1.2rem; //16px;
            margin-bottom: 10px;
        }
        p {
            font-size: 1rem; //12px;
        }

        //3번 밑에 주석있음 같은거
        //카드순서별 배경색 변경
        &:nth-of-type(1) {
            background-image: linear-gradient(45deg, cornflowerblue, aqua);
            box-shadow: 10px 10px 10px rgba(0, 153, 255, 0.494);
            &:hover{
                background-image: none !important;
                background-color: #333;
                box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3) !important;
            }
        }
        &:nth-of-type(2) {
            background-image: linear-gradient(45deg, #ed64b2, #ff0066);
            box-shadow: 10px 10px 10px rgba(237, 100, 178, 0.485);
        }
        &:nth-of-type(3) {
            background-image: linear-gradient(45deg, #52fd9c, #00fffb);
            box-shadow: 10px 10px 10px rgba(82, 253, 156, 0.396);
        }

        //hover style
        &:hover{
            background-image: none !important;
            background-color: #333;
            box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3) !important;
        }
    }
}