body{
    background-image: url(img/pattern.png);
    background-repeat: repeat;
    background-position: left top;
}
div{
    width: 600px;
    background-color: white;
    margin: 100px auto;
    padding: 40px;
    text-align: center;
}
div h1{
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 20px;
}
div img{
    margin-bottom: 20px;
}
/*img는 inline-block 속성이라 크기 변경 가능 세로로 마진값 적용 가능*/
div h2{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}
div p{
    font-size: 16px;
    margin-bottom: 50px;
    text-align: left;
}
div a{
    border: 1px solid black;
    text-align: right;
    display: block;
}