body{
    background-image: url(img/pattern.png);
    background-repeat: repeat;
    background-position: left top;
}
div{
    width: 600px;
    margin: 100px auto;
    padding: 40px;
    text-align: center;
    background-color: white;
    background-image: url(img/flower.png);
    background-repeat: no repeat;
    background-position: right bottom;
}
div h1{
    /* font-weight: normal; */
    font-weight:bold;
    font-size: 50px;
    margin-bottom: 20px;
    font-family: "Protest Guerrilla", sans-serif;
}
div img{
    margin-bottom: 20px;
}
/*img는 inline-block 속성이라 크기 변경 가능 세로로 마진값 적용 가능*/
div h2{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
    /* font-family: "Shadows Into Light", cursive; */
    font-family: "Handjet", sans-serif;
}
div p{
    font-size: 16px;
    margin-bottom: 50px;
    text-align: left;
}
div a{
    /* border: 1px solid black; */
    text-align: right;
    display: block;
}