/*
@mixin 이름(전달될 인수) {
    스타일 구문
}
*/

@mixin btn ($bg: gray, $color: white, $br: 0px) {
    display: inline-block;
    color: $color;
    background-color: $bg;
    padding: 8px 20px;
    border-radius: $br;
}