@import "reset";
@import "fontStyle";
@import "layoutStyle";
@import "mixin";


/*
nesting
1. scss 구조만으로도 html 구조 파악 가능
2. 불필요한 부모 선택자 입력 필요 없음
3. 완료된 스타일 작업구문 덩어리별로 접기 가능
*/

// .wrap{
//     background-color: $bgWrap;
//     padding: $pdWrap;

//     .item{
//         width: $widItem;
//         padding: $pdItem;
//         margin: $mgItem;
//         background-color: $bgItem;

//         h1{
//             font-family: $titType1;
//             font-size: $titSize1;
//             color: $titColor1;
//             margin-bottom: 20px;
//         }

//         p{
//             font-family: $titType2;
//             font-size: $titSize2;
//             color: $titColor2;
//             line-height: 1.2;
//             margin-bottom: 15px;
//         }

//         a{
//             // display: inline-block;
//             // font-size: 12px;
//             // color: white;
//             // background-color: gray;
//             // padding: 8px 20px;
//             @include btn($bg: red, $color: aqua, $br: 5px);
//         }
//     }
//     .item:hover {
//         background-color:  lightgreen;

//         h2{
//             color: violet;
//         }

//         a{
//             background-color: coral;
//         }
//     }
// }


.wrap {
    background-color: $bgWrap;
    padding: $pdWrap;

    .item {
    width: $widItem;
    padding: $pdItem;
    margin: $mgItem;
    background-color: $bgItem;

        h1 {
            font-family: $titType1;
            font-size: $titSize1;
            color: $titColor1;
            margin-bottom: 20px;
        }

        p {
            font-family: $titType2;
            font-size: $titSize2;
            color: $titColor2;
            line-height: 1.2;
            margin-bottom: 15px;
        }

        a {
            //호출시 변경하고 싶은 구문만 인수형태로 전달
            @include btn($bg: red, $color: aqua, $br: 5px);
        }

        &:hover {
            background-color: lightgreen;
            h2 {
            color: violet;
            }
            a {
            background-color: coral;
            }
        }
    }
}