@import "reset";

.wrap{
    width: 500px;
    border: 1px solid #555;
    padding: 50px;
    margin: 100px auto;


    h1{
        font-size: 70px;
        margin-bottom: 20px;
    }

    .gnb{
        display: flex;
        justify-content: flex-start;
        gap: 20px;
        margin-bottom: 40px;
        //font-size, font-weight, font-family, font-style 는 부모요소에 적용해도 자식요소에 자동으로 상속됨
        font-size: 20px;  
        font-weight: bold;
        font-family: "arial";
        // font-style: italic;
        // _reset.scss 설정 후 
        // 부모요소인 gnb에 color값만 입력해도 자식의 자식요소인 a까지 폰트 색상 상속됨
        color: cornflowerblue;

        // // color: hotpink;
        // //color값이 자식으로 자동 상속이 일어나지 않기 때문에 color값 하나 때문에 nesting으로 복잡한 선택자 구조를 잡아줘야 됨
        // li{
        //     a{
        //         color: hotpink;
        //     }
        // }
    }
}