@import "reset";

.wrap {
    width: 900px;
    height: 500px;
    border: 1px solid black;
    margin: 100px auto;
    display: flex;
    justify-content: center; 
    // 가운데 정렬
    gap: 20px; //사이 간격을 설정 가능

    //align-items(세로축 정렬) : flex-start /center / flex-end
    //align-items(세로로 배치될 요소가 한 줄일때만 사용 가능)
    // align-items: flex-end;
    // align-items:center;

    flex-wrap: wrap; 
    align-content: center;


    .box{
        width: 100px;
        height: 100px;
        background: aqua;
        border: 1px solid red;
        display: flex;
        justify-content: center;
        align-items: center;


        // 자식 요소에 직접 order값을 설정해서
        // html상의 구조를 변경하지 않으면서 style만으로
        // 화면에 출력되는 순서를 변경가능
        &:nth-of-type(1){
            order: 3;
        }
        &:nth-of-type(2){
            order: 4;
        }
        &:nth-of-type(3){
            order: 2;
        }
        &:nth-of-type(4){
            order: 1;
        }
    }
}

