@import "reset";



//3번
body{    
    background-color: rgb(243, 240, 240);
}

.wrap{
    width: 1400px;
    margin: 100px auto;
    //3번에서 경계선 없애기
    // border: 1px solid black;
    //3번
    border-radius: 10px;
    box-shadow: 30px 30px 80px rgba(182, 183, 182, 0.657);

    h1{
        // margin: 60px;
        padding-top: 100px;
        padding-left: 50px;
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 80px;
        font-family: "Ubuntu", sans-serif;
    }

    .boxes{
        // margin:20px 20px;
        padding-bottom: 30px;
        display: flex;
        justify-content: center;
        
        .box{
            width: 400px;
            height: 320px;
            margin: 20px;
            padding: 10px;
            justify-content: space-between;
            //3번 _reset.scss에 설정해둔 상속
            color: white;
            border-radius: 10px;

            // //1번
            // background-color: rgb(225, 241, 247);
        }
        // //2번
        // .box:hover{
        //     background: rgba(0, 0, 255, 0.488);
        //     color: white;
        // }

        h2{
            padding: 20px 20px 0px 20px;
            text-align: start;
        }

        p{
            padding:  20px 20px;
            text-align: start;
        }

        //3번 _reset.scss에서 color 상속설정 해둔거 알아두기
        .box:nth-child(1){
            background: blue;
            background: linear-gradient(45deg, rgb(164, 242, 242), rgb(49, 182, 243));
            box-shadow: 15px 15px 40px rgba(183, 222, 237, 0.832);
        }
        .box:nth-child(2){
            background: violet;
            background: linear-gradient(45deg, rgb(236, 196, 203), rgb(233, 116, 233));
            box-shadow: 15px 15px 40px rgba(238, 156, 238, 0.773)
        }
        .box:nth-child(3){
            background: green;
            background: linear-gradient(45deg, rgb(214, 243, 157), rgb(38, 142, 38));
            box-shadow: 15px 15px 40px rgba(17, 151, 17, 0.399);
        }

        
        // .box:nth-of-type(1){ //3번
        //     background: blue;
        //     background: linear-gradient(45deg, rgb(164, 242, 242), rgb(49, 182, 243));
        //     box-shadow: 15px 15px 40px rgba(183, 222, 237, 0.832);
        // }
        // .box:nth-of-type(2){
        //     background: violet;
        //     background: linear-gradient(45deg, rgb(236, 196, 203), rgb(233, 116, 233));
        //     box-shadow: 15px 15px 40px rgba(238, 156, 238, 0.773)
        // }
        // .box:nth-of-type(3){ 
        //     background: green;
        //     background: linear-gradient(45deg, rgb(214, 243, 157), rgb(38, 142, 38));
        //     box-shadow: 15px 15px 40px rgba(17, 151, 17, 0.399);
        // }
    }
}







/* 경오코드
@import "reset";


//3번
body{    
    background-color: rgb(243, 240, 240);
}

.wrap{
    width: 1400px;
    padding: 20px;
    margin: 100px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
    gap: 20px;
    //3번에서 경계선 없애기
    // border: 1px solid black;
    // border: 1px solid white;
    //3번
    border-radius: 10px;
    box-shadow: 30px 30px 80px rgba(182, 183, 182, 0.657);

    h1{
        width: 100%;
        font-weight: bold;
        font-size: 80px;
        font-family: "Ubuntu", sans-serif;
    }
        
    .box{
        width: 400px;
        height: 320px;
        margin: 20px;
        padding: 10px;
        // justify-content: space-between;
        //3번 _reset.scss에 설정해둔 상속
        color: white;
        border-radius: 10px;

        // //1번
        // background-color: rgb(225, 241, 247);
    }
    // //2번
    // .box:hover{
    //     background: rgba(0, 0, 255, 0.488);
    //     color: white;
    // }

    h2{
        padding: 20px 20px 0px 20px;
        text-align: start;
    }

    p{
        padding:  20px 20px;
        text-align: start;
    }
    
    

    //3번 _reset.scss에서 color 상속설정 해둔거 알아두기
    .box:nth-child(2){
        background: blue;
        background: linear-gradient(45deg, rgb(164, 242, 242), rgb(49, 182, 243));
        box-shadow: 15px 15px 40px rgba(183, 222, 237, 0.832);
    }
    .box:nth-child(3){
        background: violet;
        background: linear-gradient(45deg, rgb(236, 196, 203), rgb(233, 116, 233));
        box-shadow: 15px 15px 40px rgba(238, 156, 238, 0.773)
    }
    .box:nth-child(4){
        background: green;
        background: linear-gradient(45deg, rgb(214, 243, 157), rgb(38, 142, 38));
        box-shadow: 15px 15px 40px rgba(17, 151, 17, 0.399);
    }

    // nth-last-child는 가장 마지막 자손부터 불러오기 때문에 순서가 거꾸로 적용 됨
    // .box:nth-last-child(3){
    //     background: blue;
    //     background: linear-gradient(45deg, rgb(164, 242, 242), rgb(49, 182, 243));
    //     box-shadow: 15px 15px 40px rgba(183, 222, 237, 0.832);
    // }
    // .box:nth-last-child(2){
    //     background: violet;
    //     background: linear-gradient(45deg, rgb(236, 196, 203), rgb(233, 116, 233));
    //     box-shadow: 15px 15px 40px rgba(238, 156, 238, 0.773)
    // }
    // .box:nth-last-child(1){
    //     background: green;
    //     background: linear-gradient(45deg, rgb(214, 243, 157), rgb(38, 142, 38));
    //     box-shadow: 15px 15px 40px rgba(17, 151, 17, 0.399);
    // }
}
*/